<section class="about" id="about">

    <h1 class="heading"><span>About </span>Us</h1>

    <div class="row">

        <div class="image">
            <img src="./images/take-care-of-good.svg" alt="about-us">
        </div>

        <div class="content">
            <h3> We Take Care of Your Good</h3>

            <h5><i class="fas fa-quote-right"></i></h5>

            <p>
                When your health is our first priority then to take care of your goods is our responsibility. MediCare
                brings you an effective management system that stores your documents and details secure.
            </p>

            <h5><i class="fas fa-quote-left"></i></h5>

            <a href="/family" class="btn">Learn More <span class="fas fa-angle-double-right"></span></a>
        </div>
    </div>
</section>