<section class="footer" id="contact">

    <div class="box-container">

        <div class="box">
            <h3>Quick Links</h3>
            <a href="#"> <i class="fas fa-chevron-right"></i> Home </a>
            <a href="#services"> <i class="fas fa-chevron-right"></i> Features </a>
            <a href="#about"> <i class="fas fa-chevron-right"></i> About Us </a>
            <a href="#reviews"> <i class="fas fa-chevron-right"></i> Reviews </a>
            <a href="/signup" target="_blank"> <i class="fas fa-chevron-right"></i> Sign Up </a>
        </div>

        <div class="box">
            <h3>Our Services</h3>
            <a href="/presmanage"> <i class="fas fa-chevron-right"></i> Prescription Management </a>
            <a href="/clinicmanage"> <i class="fas fa-chevron-right"></i> Clinics Management </a>
            <a href="/medilist"> <i class="fas fa-chevron-right"></i> Medicines List </a>
        </div>

        <div class="box">
            <h3>Contact Info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="#"> <i class="fas fa-envelope"></i> medicare@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> Kolkata, India - 700 001 </a>
        </div>

        <div class="box">
            <h3>Follow Us</h3>
            <a href="https://www.instagram.com/swap_nil_1403/"> <i class="fab fa-instagram"></i> Instagram </a>
            <a href="https://www.linkedin.com/in/swapnil-mal/"> <i class="fab fa-linkedin"></i> Linkedin</a>
            <a href="https://github.com/swapnil-1357"> <i class="fab fa-github"></i> Github </a>
        </div>

    </div>

</section>