<section class="review" id="reviews">

    <h1 class="heading">Users <span>Review</span></h1>


    <div class="swiper slide-container">

        <div class="slide-content">

            <div class="swiper-wrapper card-wrapper box-container">

                <div class="swiper-slide box">

                    <h3> Arindam Halder </h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <div class="text">
                        Medicare is the best solution for my medical details store. This is a real problem that I was
                        going with and it helped me to solve it. Now I don't have to remember anything and I can manage
                        all effectively.
                    </div>
                </div>

                <div class="swiper-slide box">

                    <h3>Sanghita Gharami</h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <div class="text">
                        It is awesome when you don't have to do anything but the app does everything for you. Thank you
                        to MediCare for providing such solution.
                    </div>
                </div>


                <div class="swiper-slide box">

                    <h3> Isika Samanta </h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>

                    <div class="text">
                        I was searching for this from a long time for my family members. I have registered for each and
                        every member of my family. It is an awesome solutions. Cheers !!!
                    </div>
                </div>

                <div class="swiper-slide box">

                    <h3> Dibyabrata Panja </h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <div class="text">
                        MediCare in one word "Awesome". It is a solution for many people like me who often forgets
                        where they kept their prescriptions of previously visited clinics. Thanks to MediCare for that.
                    </div>
                </div>

                <div class="swiper-slide box">

                    <h3> Arup Kumar Roy </h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <div class="text">
                        Medicare is the solution I was searching. This is a real problem that I was
                        going with and it helped me to solve it. Now I don't have to remember anything and I can manage
                        all effectively.
                    </div>
                </div>

                <div class="swiper-slide box">

                    <h3> Souvik Naskar </h3>

                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>

                    <div class="text">
                        Medicare is one of the best solutions out there for my medical details. This is a problem that I
                        was
                        sufferting with and this application helped me to solve it.
                    </div>
                </div>

            </div>

            <div class="swiper-button-next swiper-button"></div>
            <div class="swiper-button-prev swiper-button"></div>
            <div class="swiper-pagination swiper-pg-button"></div>

        </div>

    </div>

</section>



<!-- *********** Swiper JS **********  -->
<script src="./js/swiper-bundle.min.js"></script>

<script>
    var swiper = new Swiper(".slide-content", {
        slidesPerView: 2,
        spaceBetween: 30,
        loop: true,
        centreSlide: true,
        grabCursor: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
            dynamicBullets: true
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },

        breakpoints: {
            0: {
                slidesPerView: 1,
            },
            995: {
                slidesPerView: 2,
            },
            1388: {
                slidesPerView: 3,
            },
        },
    });
</script>