<!-- Services section -->
<section class="services" id="services">

    <h1 class="heading">Fea<span>tures</span></h1>

    <div class="box-container">

        <div class="box">

            <div class="service-content-heading">
                <i class="fas fa-calendar-plus"></i>
                <h3>Prescription Management</h3>
            </div>

            <div class="service-content-description">
                <p>
                    We manage your prescription in the most effective manner so that you get a good experience while
                    using the application.
                </p>
                <a href="/presmanage" class="btn">Learn More <span class="fas fa-angle-double-right"></span></a>
            </div>

        </div>

        <div class="box">

            <div class="service-content-heading">
                <i class="fas fa-file-medical"></i>
                <h3>Clinics Management</h3>
            </div>

            <div class="service-content-description">
                <p>User can store the details of the clinics they visit so that when needed it comes handy.</p>
                <a href="/clinicmanage" class="btn">Learn More <span class="fas fa-angle-double-right"></span></a>
            </div>
        </div>

        <div class="box">

            <div class="service-content-heading">
                <i class="fas fa-capsules"></i>
                <h3>Medicines List</h3>
            </div>

            <div class="service-content-description">
                <p>User will be able to store the medicine details so that they don't have to remember anymore.</p>
                <a href="/medilist" class="btn">Learn More <span class="fas fa-angle-double-right"></span></a>
            </div>
        </div>

    </div>
</section>

<!-- ****** Services Section Ends ******* -->