<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Not Found</title>

    <link rel="icon" type="image/x-icon" href="./images/medicare-icon.png">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <link rel="stylesheet" href="./css/button.css">
    <link rel="stylesheet" href="./css/static-pages.css">
</head>

<body>

    <div class="container">

        <div class="image">
            <img src=".././images/not-found.svg" alt="notfound">
        </div>

        <div class="description">

            <h1 style="color: white;">
                <%= reason %>
            </h1>
            <p style="color: white">Fall back to safe zone... 😥😥😰😰</p>

            <a class="btn" href="/">Return back <span class="fas fa-arrow-left"></span> </a>
        </div>

    </div>

</body>

</html>